<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dionysus - Your Movie Oasis</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.min.css') }}">

    <script src="https://unpkg.com/htmx.org@1.9.5/dist/htmx.min.js"></script>
    <script src="{{ url_for('static', filename='js/globals.min.js') }}"></script>

    {% block stylesheet %} {% endblock %}
    {% block script %} {% endblock %}

</head>


<body class="font-sans">

    {# {%- include "/headers/h-logout-navigation.html" %}
    {%- include "/headers/h-logout-top-panel.html" %}
    {%- include "/navigation/site-left-nav_loggedout-desktop.html" %} #}

    {%- include "/header.html" %}
    <div class="main">
        {% block body -%} {% endblock %}
    </div>
    {%- include "/footer.html" %}

</body>

</html>