<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dionysus - Your Movie Oasis</title>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.min.css') }}">

    <script src="https://unpkg.com/htmx.org@1.9.5/dist/htmx.min.js"></script>
    <script src="{{ url_for('static', filename='js/globals.min.js') }}"></script>

    {% block stylesheet %} {% endblock %}
    {% block script %} {% endblock %}

</head>


<body class="bg-gray-100 font-sans">

    {# {%- include "/headers/h-logout-navigation.html" %}
    {%- include "/headers/h-logout-top-panel.html" %}
    {%- include "/navigation/site-left-nav_loggedout-desktop.html" %} #}

    {% block body -%} {% endblock %}

    {%- include "/footer.html" %}

</body>

</html>