{%- extends "base.html" %}

{%- block body %}

{# <section class="section">
    <div class="container">
        <h2 class="title">Discover Your Next Movie Adventure</h2>
        <p class="subtitle">Find, track, and get personalized movie recommendations
            with dionysus. Your one-stop shop for cinematic bliss.</p>
        <div class="buttons">
            <button class="button is-primary" hx-get="/get-random-movie" hx-target="#random-image is-1by1 movie-title">
                Get Random Movie
            </button>
        </div>
    </div>
</section> #}
<section class="lycaon is-info">
    <div class="lycaon-body">
        <div class="columns is-vcentered">
            <div class="column is-one-third">
                <p class="title">Dionysus</p>
                <p class="subtitle">Your Next Movie Adventure</p>
            </div>
            <div class="column is-two-thirds">
                <div class="fixed-grid has-1-cols-mobile has-2-cols-tablet has-3-cols">
                    <div class="grid">
                        <div class="cell">
                            <img class="image is-1by1 movie-poster" src="{{ url_for('static', filename='/images/0.jpg') }}">
                        </div>
                        <div class="cell">
                            <img class="image is-1by1 movie-poster" src="{{ url_for('static', filename='/images/1.jpeg') }}">
                        </div>
                        <div class="cell">
                            <img class="image is-1by1 movie-poster" src="{{ url_for('static', filename='/images/2.jpeg') }}">
                        </div>
                        <div class="cell">
                            <img class="image is-1by1 movie-poster" src="{{ url_for('static', filename='/images/2.jpg') }}">
                        </div>
                        <div class="cell">
                            <img class="image is-1by1 movie-poster" src="{{ url_for('static', filename='/images/3.jpg') }}">
                        </div>
                        <div class="cell">
                            <img class="image is-1by1 movie-poster" src="{{ url_for('static', filename='/images/3.jpeg') }}">
                        </div>
                        <div class="cell">
                            <img class="image is-1by1 movie-poster" src="{{ url_for('static', filename='/images/4.jpg') }}">
                        </div>
                        <div class="cell">
                            <img class="image is-1by1 movie-poster" src="{{ url_for('static', filename='/images/5.jpg') }}">
                        </div>
                        <div class="cell">
                            <img class="image is-1by1 movie-poster" src="{{ url_for('static', filename='/images/6.jpg') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title">Dionysus Features</h2>
        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <i class="fas fa-film text-blue-500 text-2xl"></i>
                            Discover Movies
                        </p>
                    </header>
                    <div class="card-content">
                        <p>Browse a wide selection of movies, filter by genre, and explore new releases.
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <i class="fas fa-star text-blue-500 text-2xl"></i>
                            Personalized Recommendations
                        </p>
                    </header>
                    <div class="card-content">
                        <p>Get tailored movie recommendations based on your preferences and watch history.
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <i class="fas fa-list text-blue-500 text-2xl"></i>
                            Track Your Watchlist
                        </p>
                    </header>
                    <div class="card-content">
                        <p>Create a watchlist of movies you want to see and easily keep track of your
                            progress.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%- endblock %}